@font-face {
    font-family: 'pretendard';
    src: url('/fonts/PretendardVariable.woff2') format('woff2');
    font-weight: 100 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'poppins';
    src: url('/fonts/PoppinsThin.woff2') format('woff2');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'poppins';
    src: url('/fonts/PoppinsBold.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

